<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.hnust.dao.IUserDao">

	<!-- 案件对象映射 -->
	<resultMap type="com.cn.hnust.pojo.User" id="userMap">
		<id column="id" property="id" />
		<result column="user_name" property="userName" />
		<result column="password" property="password" />
		<result column="age" property="age" />
	</resultMap>
	<!-- 多条件分页查询案件列表,将查询条件按键值对的形式放到Map里作为参数，查询结果从Map里输出 -->
	<select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="userMap" >
		select * from user_t 
	</select>
	

</mapper>